<main class="main" style="margin-left:<%= Css.find_by_name("left")&.width %>px; margin-right:<%= Css.find_by_name("right")&.width %>px">

  <div class="container-fluid _main_fluid">
  <!-- 더 나은 멋사 -->
    <div class="row" id="question">
      <% @questions.each do |question| %>
        <% if question.group.content.include? "더 나은" %>
          <% css = 'bg-warning' %>
          <% icon = 'fa-lightbulb-o' %>
        <% elsif question.group.content.include? "지역사회"%>
          <% css = 'bg-success' %>
          <% icon = 'fa-group' %>
        <% else %>
          <% css = 'bg-info' %>
          <% icon = 'fa-graduation-cap' %>
        <% end %>
          <div class="col-sm-6 col-md-4">
            <div class="card text-white <%= css %>  _question_card">
              <div class="card-header _question_title" style="font-size: <%= Css.find_by_name('CardHeader').width %>px">
                <i class="fa <%= icon %> fa-lg"></i><%= question.group.content %>
                <span class="float-right _question_team" style="font-size: <%= Css.find_by_name('CardHeader').width %>px"><%= question.team.content %></span>
              </div>
              <div class="card-body _question_content" style="font-size: <%= Css.find_by_name('CardBody').width %>px"><%= question.content %></div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</main>



<%= render 'shared/pusher' %>
