<%= content_for :navbar do %>
  <%= render "shared/navbar", left: link_to('로그아웃', destroy_user_session_path,method: :delete), content: '질문 받아주기이ㅣ' %>
<% end %>
<div class="page-content">
  <div class="block" style="padding-top:10px">
    <% @questions.each do |question| %>
      <a href="/single/">
        <div class="card card-style-2">
          <div class="question-infos">
            <h2 class="question-title"><%= question.group.content %></h2>
            <div class="question-category"><%= question.team.content %></div>
            <p class="question-description"><%= question.content %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
